@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentACar</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentACar.styles.css" asp-append-version="true" />
    <!-- View-specific CSS -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">RentACar</div>
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a href="#ren">Rent Car</a></li>
                        <li><a href="#sell">Cars</a></li>
                    }
                    else
                    {
                        <li><a href="" class="strikethrough">Rent Car</a></li>
                        <li><a href="" class="strikethrough">Cars</a></li>
                    }
                </ul>
            </nav>
            <div class="icons">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="dropdown">
                        <i class="fa-solid fa-user text-green" onclick="toggleDropdown('loggedDropdown')"></i>
                        <ul class="dropdown-menu" id="loggedDropdown">
                            <li>
                                <form asp-controller="Home" asp-action="Logout" method="post" style="display: inline;">
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="dropdown">
                        <i class="fa-solid fa-user text-red" onclick="toggleDropdown('guestDropdown')"></i>
                        <ul class="dropdown-menu" id="guestDropdown">
                            <li> <a class="dropdown-item" asp-controller="Home" asp-action="Login">Login</a></li>
                            <li> <a class="dropdown-item" asp-controller="Home" asp-action="Register">Register</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/f5c3520eb8.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
